# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBhfxA1hMcDeW8h6EaL66HDQcH61qeaCEg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cornerstore-5e93d.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cornerstore-5e93d
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cornerstore-5e93d.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=942922033683
NEXT_PUBLIC_FIREBASE_APP_ID=1:942922033683:web:3cb02dc5332822188cede6

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
