# Server Configuration
PORT=3001
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://dannywonda2:sugarmonami@cluster0.bigxrqh.mongodb.net/cornerstore?retryWrites=true&w=majority&appName=Cluster0

# Firebase Configuration
FIREBASE_PROJECT_ID=AIzaSyBhfxA1hMcDeW8h6EaL66HDQcH61qeaCEg

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
